/*FONTS*/

@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

/*UNIVERSALS*/

a {
  text-decoration: none;
  color: #5BC0DE;
}

p {
  font-size: 16px;
}

/*HEADER*/

.flex-wrapper {
  display: flex;
  align-items: flex-end;
}

#header-logo {
  width: 90px;
}

#logo-style {
  font-family: 'Satisfy', cursive;
  color: #FF827B;
  margin-top: 20px;
}

#logo-style:hover {
  opacity: .5;
}

/*NAV*/

nav {
  border: none;
  font-family: 'Open Sans', sans-serif;
  margin-top: 40px;
  font-size: 16px;
}

.nav-tabs {
  border: none;
}

/*JUMBOTRON*/

.jumbotron {
  height: 450px;
  color: #fff;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
}

.jumbotron h2 {
  font-family: 'Open Sans', sans-serif;
}

/*THUMBNAILS*/

.content {
  margin-bottom: 50px;
}

.thumb-background {
  background-color: #EDF1F4;
  border-radius: 5%;
  margin-left: 5px; /* HACK SOLUTION */
}

.thumb-background img {
  margin: 10px 0px;
}

.caption button {
  margin-bottom: 10px;
}

/*FOOTER*/

footer {
  background-color: #231f20;
  padding-top: 20px;
}

.right-border {
  border-right: 1px solid #333;
}

#footer-logo {
  height: 110px;
}

footer a, footer {
  text-decoration: none;
  color: #bfc0c1;
}

footer a:hover {
  text-decoration: none;
  color: #fff;
}

footer .text-center p {
  color: #333;
}
